.git
.env
.DS_Store
.venv
.astro

__pycache__/
include/data
spark/
tests/
plugins/

airflow_settings.yaml
astro
airflow-webserver.pid
airflow.cfg
airflow.db
webserver_config.py
Dockerfile
.dockerignore
packages.txt
requirements.txt